<body class="bg-gradient-primary" style="background: linear-gradient(rgba(24,188,156,0.96), white);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image"
                                    style="background: url(&quot;/images/register.png&quot;) center / contain no-repeat;text-align: left;">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Bổ sung lại CMND</h4>
                                    </div>
                                    <form class="user" enctype="multipart/form-data" id="uploadForm">
                                        <div><input class="form-control" type="hidden" name="email" id="email"
                                                value="{{email}}"></div>
                                        <div class="mb-3">
                                            <div>
                                                <p style="margin-bottom: 0px;">Upload ảnh CMND</p>
                                            </div>
                                            <div><input class="form-control" type="file" name="cmnd" id="cmnd"
                                                    accept="image/*"></div>

                                        </div>
                                        <div class="mb-3">
                                            <div>
                                                <p style="margin-bottom: 0px;">Mặt sau CMND</p>
                                            </div>
                                            <div><input class="form-control" type="file" name="files" id="files"
                                                    accept="image/*"></div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small"></div>
                                        </div>
                                        <button class="btn btn-primary d-block btn-user w-100" onclick="submitForm()"
                                            type="submit">Xác nhận</button>
                                    </form>
                                    <div class="text-center"></div>
                                    <div class="text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- thực hiện upload ảnh và gọi api uploadImg lưu vào db --}}
    <script>

        function submitForm() {
            const email = document.getElementById("email");     // lấy email dựa vào Id
            const files = document.getElementById("cmnd");      // lấy files dựa vào Id
            const formData = new FormData();        // form data chứa các dữ liệu trong form
            formData.append("email", email.value);
            formData.append("cmnd", files.files[0])
            formData.append("cmnd", files.files[0])
            
            fetch("http://localhost:3000/user/uploadImg", {      // fetch api uploadImg để xử lý việc lưu ảnh vào db
                method: 'POST',
                body: formData,
            })
            .then((res) => res.json())
            .then((result) => {console.log(result)})
            .catch((err) => ("Error occured", err));

            /*var request = new XMLHttpRequest();
            request.open('POST', 'http://localhost:3000/api/uploadImg');
            request.onload = function (e) {
                if (request.success == true) {
                    console.log('Upload success: ', request.response);
                } else {
                    console.log('upload error: ', e);
                }
            };

            request.send(formData);*/
        }
    </script>
</body>